* {
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100vh;
  max-height: 100vh;
}

html {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; 
  background: transparent;
}